<c-card>
  <c-card-header><b>Passenger Details</b></c-card-header>
  <c-card-body>
    <div>
    <form [formGroup]="passengerForm">
      <div> 
        <c-row>
            <c-col [xs]>
              <label class="form-control-label">Passenger Name<span class="text-danger">*</span></label>
              <input
                  formControlName="passengerName"
                  name="passengerName"
                  type="text"
                  class="form-control form-control-sm"
                  placeholder="Passenger name"
                />
            </c-col>
            <c-col [xs]>
              <label class="form-control-label">Age<span class="text-danger">*</span></label>
              <input
                  formControlName="age"
                  name="age"
                  type="text"
                  class="form-control form-control-sm"
                  placeholder="Age"
                />
            </c-col>
        </c-row>
      </div>

      <div> 
        <c-row>
            <c-col [xs]>
              <label class="form-control-label">Gender<span class="text-danger">*</span></label>
              <input
                  formControlName="gender"
                  name="gender"
                  id="gender"
                  type="text"
                  class="form-control form-control-sm"
                  placeholder="Gender"
                />
            </c-col>
            <c-col [xs]></c-col>
        </c-row>
      </div>

      <div>
        <button style="margin-top: 5px;" cButton color="success" type="submit">Search</button>
      </div>
    </form>
    </div>
  </c-card-body>
</c-card>
