
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<div> 
    <form>
        <h3>Signup Here</h3>
        <div> 
            <label class="form-control-label">
                Name<span class="text-danger">*</span>
            </label>
            <input
                formControlName="name"
                name="name"
                type="text"
                class="form-control form-control-sm"
                placeholder="User name"/>
        </div>

        <div> 
            <label class="form-control-label">
                Email<span class="text-danger">*</span>
            </label>
            <input
                formControlName="email"
                name="email"
                type="text"
                class="form-control form-control-sm"
                placeholder="Email"/>
        </div>

        <div> 
            <label class="form-control-label">
                Address<span class="text-danger">*</span>
            </label>
            <input
                formControlName="address"
                name="address"
                type="text"
                class="form-control form-control-sm"
                placeholder="Address"/>
        </div>

        <div> 
            <label class="form-control-label">
                Mobile<span class="text-danger">*</span>
            </label>
            <input
                formControlName="mobile"
                name="mobile"
                type="text"
                class="form-control form-control-sm"
                placeholder="Mobile"/>
        </div>

        <div> 
            <label class="form-control-label">
                Password<span class="text-danger">*</span>
            </label>
            <input
                formControlName="password"
                name="password"
                type="password"
                class="form-control form-control-sm"
                placeholder="Password"/>
        </div>

        <div> 
            <label class="form-control-label">
                Role<span class="text-danger">*</span>
            </label>
            <input
                formControlName="role"
                name="Role"
                type="text"
                class="form-control form-control-sm"
                placeholder="Role"/>
        </div>
        <button>Sign up</button>
        <div class="social">
          <div class="go"><i class="fab fa-google"></i> Google</div>
          <div class="fb"><i class="fab fa-facebook"></i>Facebook</div>
        </div>
    </form>
</div>
