<c-card>
  <c-card-header><b>Ticket Details</b></c-card-header>
  <c-card-body>
<div id="main">
		<div class="ticket-main" id="ticket" #ticket>
			<div class="ticket-top">
			</div>

			<div class="ticket-middle">

				<div class="middle-row middle-1">
                    <span class="ticket-label middle-class">Train Name</span>
					<span class="ticket-label middle-type">Arriavl Station</span>
					<span class="ticket-label middle-adult">Departure Station</span>
					
				</div>
					<div *ngIf="trainData" class="middle-row middle-1-1">
                    
					<span class="ticket-detail-large middle-class">{{trainData.name}}</span>
                    
					<span class="ticket-detail-large middle-type">{{trainData.arrivalStation}}</span>
					<span class="ticket-detail-large middle-class middle-type">{{trainData.departureStation}}</span>
					
					
				</div>
				<div  class="middle-row middle-2">
					<span class="middle-railcard-spacer ticket-label">Arrival Date</span>
					<span class="ticket-label middle-startdate">Arrival Time</span>
				    <span class="ticket-label middle-number">Departure Date</span>
                    <span class="ticket-label middle-number">Departure Time</span>
				</div>
				<div *ngIf="trainData" class="middle-row middle-2-2">
					<span class="ticket-detail middle-railcard-spacer">{{trainData.arrivalDate}}</span>
					<span class="ticket-detail middle-startdate">{{trainData.arrivalTime}}</span>
					<span class="ticket-detail middle-startdate">{{trainData.departureDate}}</span>
					<span class="ticket-detail middle-longnumber">{{trainData.departureTime}}</span>
				</div>
				<div class="middle-row middle-3">
					<span class="ticket-label middle-from">Passenger Name</span>
					<span class="ticket-label middle-valid">Age</span>
					<span class="ticket-label middle-valid">Gender</span>
				</div>
				<div *ngIf="passengerData" class="middle-row middle-3-3">
					<span class="ticket-detail middle-from">{{passengerData.passengerName}}</span>
					<span class="ticket-detail middle-valid">{{passengerData.age}}</span>
					<span class="ticket-detail middle-valid">{{passengerData.gender}}</span>
				</div>
				<div class="middle-row middle-4">
					<span class="ticket-label middle-to">Date</span>
					<span class="ticket-label middle-route">Seat Number</span>
                    <span class="ticket-label middle-route">Fare</span>
					
				</div>
				<div *ngIf="bookingData"class="middle-row middle-4-4">
					<span class="ticket-detail middle-to">{{bookingData.date}}</span>
					<span class="ticket-detail middle-route">{{bookingData.seatNum}}</span>
					<span class="ticket-detail middle-route">{{bookingData.fare}}</span>
				</div>
			</div>

			<div class="ticket-bottom">
				<div class="ticket-logo-2-container">
					<div class="ticket-logo"></div>
				</div>
				
			</div>
		</div>
        <button cButton color="info" (click)="ticketDownload()">Download</button>  
	</div>
      </c-card-body>
</c-card>