input {
    width: 20rem;
}

#cvv {
    width: 8rem;
    height: 3rem;
    border: none;
}

.container {
    margin-top: 0rem;
    height: 30rem;
    width: 30rem;
    padding-bottom: 4rem;
    padding-bottom: 3rem;
    background-color: antiquewhite;
}

img {
    width: 4rem;

}

button {
    margin-top: 2.5rem;
    align-items: center;
}

span {
    color: red;
}

.form-control {
    border: none;
}

h2 {
    margin-left: 9rem;
    font-size: x-large;
}

.jumbotron {
    background-color: rgb(152, 194, 214);
}