<button style="margin-bottom: 5px;" cButton color="primary">Add New</button>
<c-card>
  <c-card-header><b>List of Train</b></c-card-header>
  <c-card-body>
    <table cTable hover striped>
        <thead>
            <tr>
                <th scope="col">Train Name</th>
                <th scope="col">From Station</th>
                <th scope="col">To Station</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
        </tbody>
</table>
  </c-card-body>
</c-card>
